<div class="error-404 d-flex justify-content-center align-items-center">
    <div>
        <div class="row four-zero-four ">
            <span class="mx-auto font-weight-bold">404</span>
        </div>
        <div class="row message">
            <span class="mx-auto">{{'four-zero-four.message' | translate}}</span>
        </div>
        <div class="row link mt-4">
            <button class="btn btn-primary mx-auto" routerLink="/">{{'four-zero-four.back-to-home' | translate}}</button>
        </div>
    </div>
</div>
