$primary: #ff614d;
$secondary: #7434d9;
$color-light: #181818;
$color-dark: #ffffff;
$color-dimmed: #808080;
$bg-light: #ffffff;
$bg-dark: #181818;
$border-light: #cfcfcf;
$bg-dark-secondary: #292929;
$bg-light-secondary: #cfcfcf;
$input-dark: #353535;
$input-dark-hover: #434343;