<nav class="navbar navbar-expand-md navbar-dark bg-primary mb-3 px-4">
    <a class="navbar-brand" routerLink="/"><img src="./../../assets/img/logo_white.png"></a>
    <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" 
        data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" routerLink="/market">{{ 'header.market' | translate }}</a>
            </li>
            <li class="nav-item" *ngIf="selectedSigner" [routerLinkActive]="['active']">
                <a class="nav-link" routerLink="/my-nfts">{{ 'header.my-nfts' | translate }}</a>
            </li>
            <li class="nav-item" *ngIf="selectedSigner" [routerLinkActive]="['active']">
                <a class="nav-link" routerLink="/my-nfts-on-sale">{{ 'header.my-nfts-on-sale' | translate }}</a>
            </li>
            <li class="nav-item" *ngIf="selectedSigner" [routerLinkActive]="['active']">
                <a class="nav-link" routerLink="/created">{{ 'header.created' | translate }}</a>
            </li>
            <li class="nav-item" *ngIf="selectedSigner" [routerLinkActive]="['active']">
                <a class="nav-link" routerLink="/create">{{ 'header.create' | translate }}</a>
            </li>
            <li class="pl-3 d-flex justify-content-between align-items-center action-buttons">
                <span *ngIf="signers" class="hover-pointer mr-3" (click)="openModal(modal)">
                    <i *ngIf="!selectedSigner" class="zmdi zmdi-balance-wallet zmdi-hc-2x"></i>
                    <div *ngIf="selectedSigner" class="identicon" [innerHTML]="selectedSigner.identicon"></div>
                </span>
                <app-toggle-button [checked]="!darkMode" (changed)="toggleDarkMode($event)"></app-toggle-button>
            </li>
        </ul>
    </div>
</nav>


<!-- Select account modal -->
<ng-template #modal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{ 'header.select-account' | translate }}</h4>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')">
            <i class="zmdi zmdi-close"></i>
        </button>
    </div>
    <div class="modal-body">
        <div *ngFor="let signer of signers" class="d-flex align-items-center justify-content-between p-2 hover-pointer address" 
            (click)="selectedSignerTemp = signer">
            <div class="d-flex align-items-center">
                <div class="identicon mr-3" [innerHTML]="signer.identicon"></div>
                {{ signer.name !== '' ? signer.name : signer.address }}
            </div>
            <i *ngIf="signer == selectedSignerTemp" class="zmdi zmdi-badge-check mr-2"></i>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="confirmSelection(modal)">
            {{ 'common.confirm' | translate }}
        </button>
    </div>
</ng-template>